@font-face {
  font-family: "Hiragino Kaku Gothic";
  // src: url("/fonts/Hiragino-Kaku-Gothic-Pro-W3.otf");
  src: url("/fonts/hiragino-kaku-gothic-pro-w3-webfont") format("woff2"),
    url("/fonts/hiragino-kaku-gothic-pro-w3-webfont") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre-Bold";
  src: url("/fonts/Calibre-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("/fonts/CalibreRegular.otf");
  font-weight: normal;
  font-style: normal;
}
