@font-face {
  font-family: "Hiragino Kaku Gothic";
  src: url("/fonts/Hiragino-Kaku-Gothic-Pro-W3.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre-Bold";
  src: url("/fonts/Calibre-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("/fonts/CalibreRegular.otf");
  font-weight: normal;
  font-style: normal;
}
