@font-face {
  font-family: "Hiragino Kaku Gothic";
  // src: url("/fonts/Hiragino-Kaku-Gothic-Pro-W3.otf");
  src: url("/fonts/hiragino-kaku-gothic-pro-w3-webfont.woff2") format("woff2"),
    url("/fonts/hiragino-kaku-gothic-pro-w3-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibre-Bold";
  // src: url("/fonts/Calibre-Bold.ttf");
  src: url("/fonts/calibre-bold-webfont.woff2") format("woff2"),
    url("/fonts/calibre-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Calibre-Regular";
  // src: url("/fonts/CalibreRegular.otf");
  src: url("/fonts/calibreregular-webfont.woff2") format("woff2"),
    url("/fonts/calibreregular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "sackers_italian_script_stdRg";
  src: url("/fonts/sackersitalianscriptstd_1-webfont.woff2") format("woff2"),
    url("/fonts/sackersitalianscriptstd_1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gooldstylesmallcapsoldstylefigures";
  src: url("/fonts/goudy_old_style_small_caps__ol_regular-webfont.woff2") format("woff2"),
    url("/fonts/goudy_old_style_small_caps__ol_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
