:root {
  // Colors
  --clr-primary: #1a1a1a;
  --clr-secondary: #f2f2f2;

  --clr-white: #ffffff;
  --clr-black: #171717;
  --clr-gray: ##fbfafa;

  // Colour of text
  //   --clr-text-primary: #1a1a1a;
  --clr-text-primary: #333f48;
  --clr-text-secondary: #b1acac;

  // Font family
  // --ff-primary: "Source Code Pro", monospace;
  --ff-primary: "Hiragino Kaku Gothic";
  --ff-primary-alt: "sackers_italian_script_stdRg";

  --ff-secondary-bold: "Calibre-Bold";
  --ff-secondary-regular: "Calibre-Regular";

  // Font size
  --fs-tiny: 0.6rem;
  --fs-small: 0.9rem;
  --fs-medium: 1rem;
  --fs-large: 1.5rem;
  --fs-larger: 2rem;
  --fs-larger1: 2.5rem;
  --fs-larger2: 3rem;
  --fs-larger3: 3.5rem;
  --fs-larger4: 4rem;
  --fs-mega: 4.5rem;
  --fs-mega2: 7.5rem;

  // Font weight
  --fw-thin: 200;
  --fw-normal: 300;
  --fw-bold: 400;
  --fw-bolder: 500;
  --fw-heavy: 700;
}
