footer {
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 200px;
  // margin-top: 2rem;
}

.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#btn--logout {
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  font-family: "Calibre-Bold", "Helvetica";
  font-size: var(--fs-medium);
  padding: 0.75rem 2rem;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  align-self: center;
  border: 1px solid var(--clr-primary);
}

#btn--logout:hover, #btn--logout:focus, #btn--logout:active {
  // color: var(--clr-secondary);
  border: 1px solid var(--clr-secondary);
  transition: all 0.5s;
  box-shadow: inset 6px 6px 12px #0c2220, inset -6px -6px 12px #102e2c;
}


@media (max-width: 768px) {
  footer {
    margin-top: 1.5rem;
  }

  .footer-container {
    flex-direction: column-reverse;
    padding: 0 0rem;
  }
  .container-left,
  .container-right {
    width: 100%;
    max-width: none;
  }

  #btn--logout {
    margin-bottom: 3rem;
  }
}
