footer {
  color: black;
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  height: 200px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.container-left,
.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

// Logout button
#btn--logout {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.182);
  color: rgba(0, 0, 0, 0.387);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 0 0rem;
  }
  .container-left,
  .container-right {
    width: 100%;
    max-width: none;
  }

  #btn--logout {
    margin-top: 3rem;
  }
}
