.c-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .c-login-logo {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(247, 247, 247);
    border-radius: 5px;
    inset: 0;
    padding: 2rem;
  }

  .c-login__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    padding: 1rem;

    .c-login__title {
      margin-bottom: 1rem;
    }

    .c-login__input {
      width: 100%;
      height: 40px;
      padding: 0.5rem;
      font-size: var(--fs-medium);
      border-radius: 5px;
      border: 1px solid lightgray;
    }
  }

  .c-btn--login {
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
    font-family: "Calibre-Bold", "Helvetica";
    font-size: var(--fs-medium);
    padding: 0.75rem 2rem;
    background-color: var(--clr-primary);
    color: white;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 600px;
    align-self: center;
    border: 1px solid var(--clr-primary);
  }

  .c-btn--login:hover {
    // color: var(--clr-secondary);
    border: 1px solid var(--clr-secondary);
    transition: all 0.5s;
    box-shadow: inset 6px 6px 12px #0c2220, inset -6px -6px 12px #102e2c;
  }
}
