.casazza-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.page-title-secondary {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

.margin {
  margin-bottom: 1rem;
}

.cazazza-hotel-container {
  text-align: center;
}

.cazazza-hotel {
  padding: 1rem;
}

.cazazza-hotel > a {
  color: var(--clr-text-primary);
}

.cazazza-hotel > li:hover {
  animation: tilt-shaking 0.4s;
  animation-iteration-count: infinite;
  color: var(--clr-text-primary);
}

.cazazza-hotel-link {
  font-size: var(--fs-large);
}

.cazazza-hotel > #green {
  color: var(--clr-text-primary);
}

.casazza-section-start {
  width: 100%;
  padding: 20px;
  transform: translateY(50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  height: 100%;
  //!Think you will to tweak this to get the heights right

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin-bottom: 20px;
}

.cazazza-hotel-family {
  padding: 1rem;
  padding-bottom: 2.3rem;
  background: var(--clr-primary);
  background: #303945;
  color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  max-width: 480px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

  &h3 {
    color: white;
    animation: tilt-shaking 0.4s;
    animation-iteration-count: infinite;
  }
}

#cazazza-hotel-family {
  background: var(--clr-primary);
}

#white {
  color: white;
  animation: tilt-shaking 0.4s;
  animation-iteration-count: infinite;
}

.flex-helper {
  display: flex;
}

.airport {
  margin-top: 1rem;
  font-size: 1rem;
}

#white-helper,
.white-helper {
  color: white;
}

#white-helper:hover,
.white-helper:hover {
  animation: tilt-shaking 0.4s;
  animation-iteration-count: infinite;
}

.icon-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 3.125em;
  transform: scale(2);
  // z-index: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.icon-scroll .mouse {
  height: 1.375em;
  width: 0.875em;
  border: 1px solid var(--clr-primary);
  border-radius: 2em;
}

.icon-scroll .wheel {
  position: relative;
  display: block;
  height: 0.1875em;
  width: 0.1875em;
  margin: 0.1875em auto 0;
  background: var(--clr-primary);
  animation: mouse-wheel 1.2s ease infinite;
  border-radius: 50%;
}

@keyframes mouse-wheel {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(0.375em);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
