.casazza-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cazazza-hotel-container {
  text-align: center;
  margin-top: 2rem;
}
.cazazza-hotel-link {
  font-size: var(--fs-large);
}

.casazza-section-start {
  width: 100%;
  padding: 20px;
  transform: translateY(50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  height: 40vh;
}

.section {
  width: 100%;
  padding: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  height: 30vh;
  margin-top: 1rem;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

h2 {
  margin-bottom: 20px;
}
