section {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq {
  max-width: 700px;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.7s ease-in-out;
  border-radius: 5px 5px 0 0;
  padding: 1rem;
}

.faq--active {
  background-color: #f5f4f49c;
}

.faq__question {
  display: flex;
  align-items: center;
  width: 100%;
}

.faq__toggle {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq__answer p {
  padding-top: 1rem;
  letter-spacing: 1.6;
}

.faq--active .faq__answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq--active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
