.history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.tab-button {
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  font-family: "Calibre-Bold", "Helvetica";
  font-size: var(--fs-medium);
  padding: 0.75rem 2rem;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 5px 10px;
  align-self: center;
  border: 1px solid var(--clr-primary);

  &:hover,
  &:focus,
  &:active {
    border: 1px solid var(--clr-secondary);
    transition: all 0.5s;
    box-shadow: inset 6px 6px 12px #0c2220, inset -6px -6px 12px #102e2c;
  }

  @media (max-width: 768px) {
    font-size: var(--fs-small);
    padding: 0.5rem 1rem;
    margin: 5px;
  }
}

.tab-button.active {
  background-color: var(--clr-primary);
}

p-history {
  font-size: var(--fs-medium);
  color: var(--clr-text-primary);
  max-width: 700px;
}

.history-section {
  padding: 1rem;
  text-align: center;
}

section {
  text-align: start;
}

.history-section > a {
  color: var(--clr-text-primary);
}

.history-section > li:hover {
  animation: tilt-shaking 0.4s;
  animation-iteration-count: infinite;
  color: var(--clr-text-primary);
}

.history-section-details {
  padding: 1rem;
  padding-bottom: 2.3rem;
  background: var(--clr-primary);
  color: white;
  border-radius: 10px;
  margin-bottom: 1rem;
  max-width: 480px;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

h2 {
  margin-bottom: 20px;
}
