body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  // appearance: none;
  color: var(--clr-text-primary);
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2rem;

  &:focus {
    outline: none;
    border-color: #aaa;
  }
}

.option {
  color: var(--clr-text-primary);
}


.index__title--name {
  text-align: center;
}

.keen-slider {
  max-width: 100%;
  overflow: hidden;
  max-width: 1000px;
  margin-top: 1rem;
  border-radius: 5px;
  background: #fbfaf9;
  box-shadow: 26px 26px 52px #d0d0cf, -26px -26px 52px #ffffff;
}

.keen-slider__slide {
  width: 100%;
  height: auto;
}

//! Pictures Start

.flowers-main {
  margin-bottom: 0.5rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


//! Pictures End

.index__title--nameContainer {
  margin-bottom: 2rem;
}

.ohhfancy {
  font-family: var(--ff-primary-alt);
  font-weight: 100;
  font-size: var(--fs-mega);
  letter-spacing: 0.8rem;
  line-height: 2.4rem;
}

.ohhfancy-medium {
  font-family: var(--ff-primary-alt);
  font-weight: 100;
  font-size: var(--fs-larger);
  line-height: 1rem;
  letter-spacing: 0.3rem;
}

.ohhfancy-tiny {
  font-family: var(--ff-primary-alt);
  font-weight: 100;
  font-size: var(--fs-larger);
}

.sign {
  font-family: var(--ff-primary-alt-sackers);
  text-transform: none;
  letter-spacing: 0.2rem;
}


@media (max-width: 989px) {
  .keen-slider {
    border-radius: 0px;
  }
}

@media (max-width: 785px) {
  .index__title--nameContainer {
  margin-bottom: 1rem;
  }
  
  .ohhfancy {
  font-size: var(--fs-larger4);
  line-height: 2rem;
  }
  
  .ohhfancy-medium {
  font-size: var(--fs-larger);
  flex-wrap: wrap;
  line-height: 1.9rem;
  text-align: center;
  max-width: 500px;
  }

  .ohhfancy-tiny {
  font-size: var(--fs-large);
  }
  
  .flowers-main {
  margin-bottom: 0;
  }
  
  select {
  font-size: 0.8rem;
  }
  }
  
  @media (max-width: 480px) {
  .index__title--nameContainer {
  margin-bottom: 0.5rem;
  }
  
  .ohhfancy {
  font-size: var(--fs-larger2);
  line-height: 1rem;
  }
  
  .ohhfancy-medium {
  font-size: var(--fs-large);
  max-width: 400px;
  }
  
  // .ohhfancy-small {
  // font-size: var(--fs-small);
  // }
  
  .ohhfancy-tiny {
  font-size: var(--fs-medium);
  }

  .flowers-main {
  width:150;
}

  }