body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

select {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  // font-size: 16px;
  padding: 5px;
  // position: absolute;
  // top: 1rem;
  // right: 4rem;

  &:focus {
    outline: none;
    border-color: #aaa;
  }
}

.option {
  color: var(--clr-primary);
}

.index__title {
  font-size: 6rem;
  font-weight: 500;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
}
.index__title--name {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center;
}

.index__title--invite {
  font-size: 1.3rem;
  text-align: center;
}

.keen-slider {
  max-width: 100%;
  overflow: hidden;
  max-width: 1000px;
  margin-top: 2rem;
}

.keen-slider__slide {
  width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .index__title {
    font-size: 4rem;
  }

  .select {
    position: static;
  }

  .index__title--name {
    font-size: 1.5rem;
  }

  .index__title--invite {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .index__title {
    font-size: 3rem;
  }

  .index__title--name {
    font-size: 1.2rem;
  }

  #third {
    font-size: 0.8rem;
  }
}
