.registry-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 480px;
  margin-top: 2rem;
}

.registry-link {
  font-size: var(--fs-large);
}

.registry-link:hover {
  animation: tilt-shaking 0.4s;
  animation-iteration-count: infinite;
  color: var(--clr-text-primary);
}

.loader {
  text-align: center;
  margin-top: 1rem;
  color: var(--clr-text-primary);
  font-size: var(--fs-larger);
}
.loader > p {
  font-size: var(--fs-large);
  margin: 0rem;
}
