.rsvp {
  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    background-color: var(--clr-gray);
    border-radius: 1rem;
    max-width: 800px;
    // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--clr-gray);
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
  }

  &__label {
    // font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    display: block;
  }
}

.rsvp__confirm-message {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  text-align: center;
  align-self: center;
  color: #e05328;
  opacity: 0;
  transition: opacity 2s ease-in;
  &.show {
    opacity: 1;
  }
}

input {
  font-family: var(--ff-secondary-regular);
  font-size: var(--fs-medium);
  color: var(--clr-text-primary);
  padding: 10px;
  border: 1px solid var(--clr-gray);
  border-radius: 5px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background: transparent;

  &:focus {
    // outline: none;
    border-color: var(--clr-primary);
  }
}

.rsvp__checkbox--container {
  display: flex;
  justify-content: space-around;
  width: 100%;

  .rsvp__checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-bottom: 1rem;

    .rsvp__label {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    input[type="checkbox"] {
      appearance: none;
      height: 1rem;
      width: 1rem;
      border-radius: 50%;
      border: 1px solid #ccc;
      margin-right: 1rem;

      &:hover {
        border: 1px solid #68d965;
      }

      &:active {
        box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
      }

      &:checked {
        background-color: #68d965;
      }
    }
  }
}

#notAttending {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 1rem;

  &:hover {
    border: 1px solid #f2452f;
    animation: none;
  }

  &:checked {
    background-color: #f2452f;
  }
}

.btn-rsvp-btn {
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  font-family: "Calibre-Bold", "Helvetica";
  font-size: var(--fs-medium);
  padding: 0.75rem 2rem;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-width: 600px;
  align-self: center;
  border: 1px solid var(--clr-primary);
}

.btn-rsvp-btn:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: tilt-n-move-shaking 0.5s infinite;
  border: 1px solid #7cbfe4;
}

.btn-rsvp-btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(0.8px, 0.8px) rotate(0.8deg);
  }
  50% {
    transform: translate(0, 0) rotate(0deg);
  }
  75% {
    transform: translate(-0.8px, 0.8px) rotate(-0.8deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.btn-rsvp-btn[disabled] {
  background-color: gray;
  color: lightgray;
  cursor: not-allowed;
  animation: none;
}

.rsvp_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  gap: 0.5rem;
  margin-top: 1rem;
  line-height: 0.9rem;
}

.cowboy {
  margin-top: 1rem;
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 24px 24px 48px #b5b5b5, -24px -24px 48px #ffffff;
}

@media only screen and (max-width: 768px) {
  .rsvp__form {
    padding: 1rem;
  }

  input {
    font-size: var(--fs-small);
  }

  .rsvp__checkbox--container {
    flex-direction: column;
    align-items: center;

    css .rsvp__checkbox {
      width: 80%;

      .rsvp__label {
        margin-bottom: 0.5rem;
      }
    }
  }

  .rsvp_details {
    max-width: 300px;
  }
}

@media only screen and (max-width: 425px) {
  .rsvp__form {
    padding: 0.5rem;
  }

  .rsvp__label {
    font-size: 0.9rem;
  }

  input {
    font-size: var(--fs-xsmall);
  }

  .rsvp__checkbox--container {
    .rsvp__checkbox {
      width: 60%;

      css .rsvp__label {
        margin-bottom: 0.25rem;
      }
    }
  }

  .rsvp_details {
    max-width: 300px;
  }
}
