@import "./shared/fonts";

/* Components */
@import "./styles/componentStyles/header";
@import "./styles/componentStyles/login";

/* Pages */
@import "./index";
@import "./rsvp";
@import "./faq";

// Variables
@import "./shared/variables";

.absolute {
  position: absolute;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothic", "Helvetica";
  font-size: var(--fs-small);
  background: var(--clr-white);
}

h1 {
  font-family: "Calibre-Bold", "Helvetica";
  font-size: var(--fs-larger);
  font-weight: var(--fw-heavy);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--clr-primary);
}

h2 {
  font-family: "Calibre-Bold", "Helvetica";
  font-size: var(--fs-large);
  font-weight: var(--fw-heavy);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--clr-primary);
}

h3 {
  font-family: "Calibre-Regular", "Helvetica";
  font-size: var(--fs-large);
  color: var(--clr-primary);
  text-transform: uppercase;
}

h4 {
  font-family: "Calibre-Regular", "Helvetica";
  font-size: var(--fs-medium);
  color: var(--clr-primary);
  text-transform: uppercase;
}

li {
  font-family: "Calibre-Regular", "Helvetica";
  font-size: var(--fs-large);
  list-style: none;
}

p {
  font-family: "Hiragino Kaku Gothic", "Helvetica";
  font-size: var(--fs-small);
}

a {
  padding-top: 0.5rem;
  font-family: "Calibre-Regular", "Helvetica";
  font-size: var(--fs-medium);
  font-weight: var(--fw-thin);
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--clr-primary);
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.nav-links > li:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: tilt-shaking 0.4s;

  /* When the animation is finished, start again */
  // animation-iteration-count: 1;
  animation-iteration-count: infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0.4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-0.4deg);
    // transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

span {
  font-size: var(--fs-tiny);
  letter-spacing: 4px;
}

.btn {
  font-family: "Calibre-Bold", "Helvetica";
  font-size: var(--fs-medium);
  padding: 0.75rem 2rem;
  background-color: var(--clr-primary);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;

  // &__btn[disabled] {
  //   background-color: gray;
  //   color: lightgray;
  //   cursor: not-allowed;
  // }
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.base-page {
  padding-top: 150px;
}

.base-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.base-page {
  padding-top: 1rem;
  z-index: 0;
}
