@import "./shared/fonts";

/* Components */
@import "./styles/componentStyles/header";
@import "./styles/componentStyles/login";
@import "./styles/componentStyles/footer";

/* Pages */
@import "./index";
@import "./rsvp";
@import "./faq";
@import "./casazza";

// Variables
@import "./shared/variables";

.absolute {
  position: absolute;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: var(--ff-primary), "Helvetica";
  color: var(--clr-text-primary);
  font-size: var(--fs-small);
  background-color: var(--clr-white);
  background-color: #fbfaf9;
  background-image: linear-gradient(
      to bottom,
      transparent 0%,
      transparent 2%,
      #fbfaf9 2%,
      #fbfaf9 100%
    ),
    linear-gradient(to right, transparent 0%, transparent 2%, #fbfaf9 2%, #fbfaf9 100%),
    repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 90%,
      transparent 1%,
      transparent 2%
    ),
    repeating-linear-gradient(
      to right,
      rgba(0, 0, 0, 0.09) 0%,
      rgba(0, 0, 0, 0.09) 1%,
      transparent 1%,
      transparent 2%
    );
  background-size: 10px 10px;
}

// background-image: url(https://i.imgur.com/xH6U4pr.jpg);
// background-size: cover;
// background-repeat: no-repeat;

// body {
//   background-color: #f2f2f2;
//   background-image: linear-gradient(
//       to right,
//       transparent 0%,
//       transparent 47%,
//       rgba(255, 255, 255, 0.07) 47%,
//       rgba(255, 255, 255, 0.07) 53%,
//       transparent 53%,
//       transparent 100%
//     ),
//     linear-gradient(
//       to bottom,
//       transparent 0%,
//       transparent 47%,
//       rgba(255, 255, 255, 0.07) 47%,
//       rgba(255, 255, 255, 0.07) 53%,
//       transparent 53%,
//       transparent 100%
//     );
//   background-size: 40px 40px;
// }


.page-title{
margin-bottom: 1rem;
}

h1 {
  font-family: var(--ff-secondary-bold), "Helvetica";
  font-size: var(--fs-larger);
  font-weight: var(--fw-heavy);
  letter-spacing: 3px;
}

h2 {
  font-family: var(--ff-secondary-bold), "Helvetica";
  font-size: var(--fs-large);
  font-weight: var(--fw-heavy);
  // letter-spacing: 1.5px;
}

h3 {
  font-family: var(--ff-secondary-regular), "Helvetica";
  font-size: var(--fs-medium);
}

h4 {
  font-family: var(--ff-secondary-regular), "Helvetica";
  font-size: var(--fs-medium);
}

li {
  font-family: var(--ff-secondary-regular), "Helvetica";
  font-size: var(--fs-large);
  list-style: none;
}

p {
  font-family: var(--ff-primary), "Helvetica";
  font-size: var(--fs-small);
}

a {
  padding-top: 0.5rem;
  font-family: var(--ff-secondary-regular), "Helvetica";
  font-size: var(--fs-medium);
  font-weight: var(--fw-thin);
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
.nav-links > li:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: tilt-shaking 0.4s;

  /* When the animation is finished, start again */
  // animation-iteration-count: 1;
  animation-iteration-count: infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(0.4deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-0.4deg);
    // transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

h1,
h2,
h3,
h4,
a {
  text-transform: uppercase;
}

sup {
  font-size: var(--fs-tiny);
  // letter-spacing: 4px;
}

span {
  font-size: 0.8rem;
}

.btn {
  font-family: var(--ff-secondary-bold), "Helvetica";
  font-size: var(--fs-medium);
  padding: 0.75rem 2rem;
  background-color: var(--clr-primary);
  color: var(--clr-text-primary);
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #214946;
  cursor: pointer;
  transition: all 0.5;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn:active {
  box-shadow: inset 6px 6px 12px #bebebe, inset -6px -6px 12px #ffffff;
}

.wrapper {
  min-height: 100vh;
  min-width: 100vw;
  margin-top: 0;
  position: relative;
}

.base-page {
  padding-top: 150px;
}

.base-page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.base-page {
  padding-top: 1rem;
  padding: 0rem;
  z-index: 0;
}
